<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db_connection"  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=telefonszamok;Integrated Security=False;Persist Security Info=True;User ID=dev_user;Password=password;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>